@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.pointer {
    cursor: pointer;
}

// application-body {
//     height: 100vh;
// }

.max-full-viewport-height {
    max-height: 100vh;
    min-height: 100vh;
}
.font-mono {
    font-family: monospace !important;
}
.p-half {
    padding: 0.5rem;
}
.px-half {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.py-half {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.p-quarter {
    padding: 0.25rem;
}
.px-quarter {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.py-quarter {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.p-key {
    padding: 0.2rem 0.4rem;
}
.s-caption {
    font-size: 0.8rem;
}

.no-overflow {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}
.font-inter, .font-inter * {
    font-family: 'Inter', sans-serif !important;
}
.bold {
    font-weight: bold !important;
}
.italic {
    font-style: italic !important;
}

.no-outline {
    outline: none;
}

.greyed-text {
    color: #9e9e9e;
}

.img-small {
    width: 13%;
    height: auto;
}

.error-mode {
    // display: inline;
    background-color: #ffaaaa !important;
    // border: 1px solid rgb(255, 128, 128);
    // border-radius: 0.4rem;
    color: rgb(87, 47, 47);
    // padding: 0.5rem;
    transition: all 0.2s ease-in-out;
}
.success-mode {
    background-color: #aeffaa !important;
    // border: 1px solid rgb(128, 255, 132);
    // border-radius: 0.4rem;
    color: rgb(47, 87, 63);
    // padding: 0.5rem;
    transition: all 0.2s ease-in-out;
}
.go-btn {
    background-color: #72e96c !important;
    // border: 1px solid rgb(128, 255, 132);
    // border-radius: 0.4rem;
    color: rgb(47, 87, 63);
    // padding: 0.5rem;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: #25a225 !important;
        color: #d7ffe7;
    }
}
.dot {
    width: .3rem;
    height: .3rem;
}
.error-container {
    z-index: 1000;
}
.error-pop {
    display: inline;
    border-radius: 2rem;
    background: #000000;
    padding: 1rem;
    max-width: 50ch;
    max-height: 50ch;
    text-align: center;
    z-index: 1000;
}
.err-pop-empty {
    &:empty {
        max-width: 1rem;
        max-height: 1rem;
    }
}
.input-field {
    width: 50%;
}
.square {
    width: 100%;
    height: 10rem;
}
.glass {
    backdrop-filter: blur(13px);
    background: #222222;
}
.modal-wrapper {
    position: fixed;
    backdrop-filter: blur(13px);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    // padding: 0.3rem;
    background: #00000096;
    display: flex;
    align-items: center;
    justify-content: center;
    .bottom-tray, .modal-content-box {
        position: absolute;
        // top: 10%;
        // left: 10%;
        // width: 80%;
        // max-height: 90vh;
        border-radius: 1rem;
        margin: 0.1rem;
        width: 50ch;
        max-width: 100%;
        opacity: 0.9;
        & .dark {
            background: #212121;
        }
        h1,h2,h3,h4,h5,h6 {
            background: #333 !important;    
        }
    }
    .modal-content-box {
        // max-height: 100vh;
        // top: 0;
        bottom: 6rem;
        max-height: calc(100vh - 6rem);
        margin: 0.3rem;
    }
    .bottom-tray {
        // position: absolute;
        bottom: 0;
        margin: 0.3rem;
        margin-bottom: 0.3rem;
        // border-bottom-left-radius: 0;
        // border-bottom-right-radius: 0;
    }
    z-index: 100;
    
}
.generic-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .generic-item {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
    }
}

// .input-incorrect {
//     outline: #ff3636;
//     &::before {
        
//     }
// }

.z--1 {
    z-index: -1;
}
.z-0-i {
    z-index: 0 !important;
}
.flex-important {
    display: flex !important;
}
@media screen and (max-width: 767px) {
    body {
        font-size: 13px;
    }
    .firebox-wrapper {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 543px) {
    body {
        font-size: 12px;
    }
    .seccode {
        font-size: 1.72rem;
    }
    .input-field {
        width: 90%;
    }
    .error-container {
        display: none;
    }
}

.hidden {
    display: none !important;
    opacity: 0;
}
#page_splash {
    opacity: 1;
    z-index: 999999999999999999;
    & * {
        z-index: 999999999999999999;
    }
}
.side-hidden {
    transform: translateX(-9rem) !important;
}
.transition {
    transition: 200ms ease-in-out;
}
.up-hidden {
    transform: translateY(-9rem) !important;
}

.back-btn {
    cursor: pointer;
    display: block;
    transition: all 0.2s ease-in-out;
    transform: translateX(0);
    font-size: 0.9rem;
    user-select: none;
}
button {
    outline: none;
    &:active {
        z-index: 5;
    }
}

.disabled {
    content: '';
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    border-radius: 1rem;
    // z-index: 4;
    button {
        cursor: default;
        background: #222;
        color: #333;
        & {
            box-shadow: none;
        }
    }
    h1,h2,h3,h4,h5,h6,p,div {
        background: #222;
        color: #333;
    }
    .exempt {
        color: #fff;
    }
}

input.disabled {
    content: '';
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
    border-radius: 1rem;
}
.no-border {
    border: none;
}


.splash-icon {
    width: 5rem;
    height: 5rem;
}

.adva-logo-mini {
    opacity: .2;
    height: 1rem;
}

.main-splash {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loading-blob {
    border-radius: 20rem;
    width: 1.5rem;
    height: 1.5rem;
    background: #af5aff;
}
.loading-blob-1 {
    animation: forwards 1s 200ms ease-in-out loadinganim infinite;
}
.loading-blob-2 {
    animation: forwards 1s 400ms ease-in-out loadinganimreverse infinite;
}
.loading-blob-3 {
    animation: forwards 1s 600ms ease-in-out loadinganimreverse infinite;
}
.burnt {
    background: #161616;
    backdrop-filter: blur(12px);
    opacity: 0.6;
}
.topleft-abs {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.topright-abs {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
.bottomright-abs {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}
.bottomleft-abs {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
}
.top-fixed {
    position: fixed;
    // right: 0;
    // left: 100rem;
    // top: 1rem;
}
.enableDEBUG {
    z-index: 100000000000000;
    transition: all 0.5s ease-in-out;
    max-width: 100vw;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-align: center;
    .underline {
        position: relative;
        text-decoration: none;
        &::before {
            position: absolute;
            bottom: 0.1rem;
            height: .1rem;
            width: 1ch;
            content: '';
            background: #ddd;
        }
        &::after {
            content: '>'
        }
    }
    &:before {
        content: '';
        display: inline;
        position: absolute;
        top: .55rem;
        right: 2.7rem;
        text-overflow: clip;
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        color:#ffffffc5;
        // font-size: 0rem;
    }
    backdrop-filter: blur(9px);
    background: #121212ef;
    width: 2.5rem;
    &:hover {
        // padding: 1rem;
        border-radius: 10rem;
        backdrop-filter: blur(9px);
        background: #121212ef;
        // background: #121212;
        width: 10rem;
        &:before {
            content: 'Debug';
            display: inline;
            font-size: 1rem;
            // padding: 0.2rem;
            // border-radius: 0.9rem;
            // backdrop-filter: blur(9px);
            // background: #121212;
        }
        & .underline:before {
            // height: 1rem;
            content: '';
            right: 0rem;
        }
        &::after {
            content: '';
        }
}
}

.DEBUG {
    background: #121212;
    max-width: 60vw;
    .log-wrapper {
        max-width: 60vw;
        .log {
                max-height: 50vh;
                max-width: 100%;
                // width: calc(100% - 2rem);
                overflow-y: auto;
                overflow-x: hidden;
        }
    }
}
.topbar {
    justify-content: space-between;
}

@keyframes loadinganim {
    0% {
        // transform: translateY(0) translateX(0);
    }
    50% {
        // transform: translateY(-2rem) translateX(0);
        height: 7rem;
        border-radius: .7rem;
        opacity: .8;
        background: rgb(153, 72, 255);
        transform: translateY(-3.5rem);
    }
    100% {
        // transform: translateY(0) translateX(0);
    }
}
@keyframes loadinganimreverse {
    0% {
        // transform: translateY(0) translateX(0);
    }
    50% {
        transform: translateY(-3.5rem);
        height: 7rem;
        border-radius: .7rem;
        opacity: .8;
        background: rgb(153, 74, 255);
    }
    100% {
        // transform: translateY(0) translateX(0);
    }
}
@keyframes loadinganimstraight {
    0% {
        // transform: translateY(0) translateX(0);
    }
    50% {
        // transform: translateY(-2rem) translateX(0);
    }
    100% {
        // transform: translateY(0) translateX(0);
    }
}


// splash animations

.up-out {
    transform: translate(-1.6rem);
    opacity: 0;
}
.down-out {
    transform: translate(1.6rem);
    opacity: 0;
}

.opacity-zero {
    opacity: 0;
}

.dash-fname, .dash-lname, .fetching {
    transition: all ease-in-out 200ms;
    &:empty {
        &::before {
            content:'-----';
        }
        filter: blur(8px);
    }
}

.current {
    background: #0781ff;
}
.slightly-grey {
    color: #eee;
}

.signed-up-events {
    &, * {
        font-size: 0.8rem;
    }
}

.log-info, .log-warn, .log-error {
    margin: 0.5rem;
}
.log-info {
    background: #ffffff1e;
}
.log-warn {
    background: #ffaa1896;
    color: #dab88c;
}
.log-error {
    background: #ff181896;
    color: #da8c8c;
}

.log .content {
    word-wrap: break-word;
}

.wrap {
    word-wrap: break-word;
}

.auto-overflow {
    overflow-y: auto;
    overflow-x: hidden;
}

@media screen and (max-width: 767px) {
    ::-webkit-scrollbar {
        width: 3px;
        background-color: #00000016;
    }
    .DEBUG {
    background: #121212;
    max-width: 90vw;
    .log-wrapper {
        max-width: 60vw;
        // .log {
        //         max-height: 50vh;
        //         max-width: 100%;
        //         // width: calc(100% - 2rem);
        //         overflow-y: auto;
        //         overflow-x: hidden;
        // }
    }
    }
    .modalTitle {
        // position: absolute;
        // top: .5rem;
        background: rgba(0, 0, 0, 0) !important;
        // opacity: 0;
        // border-radius: 1rem;
        text-align: center;
        width: 100%;
    }
    
    // .modal-content-box {
    //     padding-top: 10rem !important;
    // }
    .container {
        padding: 0.5rem;
    }
}

.firebox-wrapper {
    justify-content: space-between;
}

.notification-wrapper {
    max-height: 25rem;
    overflow-y: auto;
}

.phaseable {
    width: 10ch;
    height: auto;
}

.phase-out {
    width: 1rem;
    height: 1rem;
}
.phase-in {
    width: 1rem;
    max-height: 1rem;
}

.wifi-stroke {
    fill: #ffffff;
    animation: ease-in-out 2s 900ms forwards;
    animation: forwards 2s 900ms ease-in-out nowifi infinite;
}
.wifi-uncut {
    fill: #c7ffc2;
    animation: forwards 2s 900ms ease-in-out wifi infinite;
}


@keyframes nowifi {
    0% {
        fill: #ffffff;
    }
    50% {
        fill: #ffffff6f;
    }
    100% {
        fill: #ffffff;
    }
}

@keyframes wifi {
    0% {
        fill: #b2ffa0;
    }
    50% {
        fill: #c2ff9fc6;
    }
    100% {
        fill: #b2ffa0;
    }
}

.pop-transition {
    transition: cubic-bezier(.76,.72,.68,1.24) 200ms;
}

.section-header {
    margin-top: 2.5rem !important;
    padding-top: 1.67rem;
    padding-bottom: 1.3rem; 
    font-weight: 600;
    width: 100%;
    &::before {
        content: '';
        width: calc(100% - 4rem);
        height: 1.7px;
        position: absolute;
        background: #ffffff26;
        top: -10px;
    }
    position: relative;
    
}
.padded-section {
    &::before {
        width: calc(100% - 2rem);
    }
}

.collapsable-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.cubical {
    width: calc(100% - 1rem);
    margin: 0.2rem .5rem;
}

.notification-bar-wrapper {
    transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0 !important;
    backdrop-filter: blur(12px);
    min-height: 1rem;
    max-height: 100vh;
    & .notification-bar {
        top: 0;
        transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        // top: 0;
        margin: 0rem;
        border-radius: 1.6rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        background-color: #1c1c1cad;
        box-shadow: inset 0 0 20px 13px #1f1f1ff4;
        .bottom-panel {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .handle {
                transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                position: absolute;
                bottom: 8px;
                height: 4px;
                border-radius: 4px;
                width: 4rem;
                background: #ffffff99;
            }
        }
        .cancel-wrapper {
            
            .cancel {
                position: absolute;
                top: 2rem;
                right: 2rem;
                height: 2rem;
                width: 2rem;
                cursor: pointer;
                * {
                    background: #e8e8e8e4;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .collapsable-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 460px) {
    .collapsable-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.line-45 {
    position: absolute;
    height: 2rem;
    width: 2px;
    transform: rotateZ(45deg);
}
.line-135 {
    position: absolute;
    height: 2rem;
    width: 2px;
    transform: rotateZ(135deg);
}

.phase-notification-out {
    top: -100vh;
}
.bring-notification-to-full-scale {
    top: 10vh !important;
    // bottom: 0 !important;
    border-radius: 1.6rem !important;
    height: 300% !important;
    margin: 1rem !important;

    .handle {
        width: 0rem !important;
    }
}

.bring-down {
    top: 20vh;
    height: 20vh;
}

.full-imp {
    min-height: 100vh !important;
    max-height: 100vh !important;
}


// QR Code

.black {
    // background-image: linear-gradient(135deg,#222, #000, #000);
    background: #000;
    color: #eee;
}


#page_check_in {
    position: relative;
}
.qr-code {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
    z-index: 2;
    box-shadow: 0 0 30px 19px #000;
    user-select: none;
}
.black-blend {
    box-shadow: 0 0 30px 19px #000;
    z-index: 2;
}
.qr-code-wrapper {
    z-index: 10;
}

.scrolling-bg {
    &, * {
        user-select: none;
    }
    &::before {
        content: 'cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd cd ';
    }
    z-index: 0;
    font-size: 2rem;
    position: absolute;
    // top: 0;
    left: -2rem;
    // right: 0;
    // bottom: 0;
    width: 110vw;
    height: 105vh;
    color: rgba(136, 136, 136, 0.133);
    animation: forwards 3s 600ms linear bg infinite;
    // transform: rotateZ(-12deg);
}

.brick {
    height: 100vh !important;
    width: 100vw !important;
    overflow: hidden !important;
    * {
        overflow: hidden !important;
    }
}

@keyframes bg {
    0% {
        // left: .9rem;
        // color: rgba(136, 136, 136, 0.059);
    }
    50% {
        // left: .9rem;
        color: rgba(136, 136, 136, 0.133);
        }
    100% {
        left: .9rem;
        // color: rgba(136, 136, 136, 0.059);
    }
}
